body{
    background-color: pink;
    margin: 0%;
    top: 0;
}
.title{
    font-family:"Kanit", sans-serif;
}
#startScreen{
    height: 50%; 
    width: 40%;
    background-color: white;
    margin: 100px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#startBtn{
    height: 30px;
    width: 70px;
    margin: 20px;
    border-radius: 15px;
    background-color: pink;
    border-style: solid;
    border-color:  rgb(226, 163, 174);
    color: black;
}
#startBtn:hover{
    background-color: rgb(226, 163, 174);
}

#board{
    height: 50%; 
    width: auto;
    background-color: white;
    margin: 100px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
#word{
    margin-left: 50px;
    height: auto;
    width: auto;
    display: flex;
}
#blocks{
    margin-top: 20px;
    display: flex;
}
.row{
    display: flex;
}